/* Variáveis de estilo */
html {
    --body-color: #FFFCFF;
    --header-color: #d36c6c;
    --header-button: #92a1d1;
    --color-weekdays: #247BA0;
    --box-shadow: #CBD4C2;
    --hover: #e8faed;
    --current-day: #e8f4fa;
    --event-color: #58bae4;
    --modal-event: #e8f4fa;
    --color-day: white;
}

/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-color 5s ease; /* Transição suave para mudança de cor */
}

/* Estilo do botão */
button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 3px black;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

/* Caixa desfocada */
.blurred-box {
    width: 1000px;
    height: 850px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black; /* Borda inicial */
    backdrop-filter: blur(10px); /* Desfoque de fundo */
    transition: background-color 0.5s ease; /* Transição suave para a mudança de cor */
}

/* Estilo do calendário header */
.header {
    padding: 10px;
    color: var(--header-color) ;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}

.header h2 {
    margin: 0px;
    font-size: 1.2em;
}

.button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.calendar-container {
    width: 900px;
    height: 800px;
    border: 2px solid white ;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1); /* Fundo semitransparente */
    backdrop-filter: blur(10px); /* Aplica o desfoque ao fundo atrás do quadrado */
}

.header {
    text-align: center;
}

.days-of-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    padding: 5px 0;
    background-color: rgba(255, 255, 255, 0); /* Preto com 50% de transparência */
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    padding: 10px;
}

.day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: var(--color-day);
    margin: 5px;
    box-shadow: 0px 0px 3px var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20%;
}

.day:hover {
    background-color: var(--hover);
}

#currentDay {
    background-color: var(--current-day);
}

.event {
    font-size: 10px;
    padding: 3px;
    background-color: var(--event-color);
    color: black;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}

/* Estilo do modal de evento */
#newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: var(--modal-event);
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
}

#eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

#eventTitleInput.error {
    border: 2px solid black;
}

#cancelButton, #deleteButton {
    background-color: var(--header-color);
}

#saveButton, #closeButton {
    background-color: var(--header-button);
}

#eventText {
    font-size: 14px;
}

#modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}